<a href="https://colab.research.google.com/github/marianocorrea24/frescoh/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def multiplicar_por_dos(numero):
    return numero * 2

print(multiplicar_por_dos(4))
print(multiplicar_por_dos(7))
print(multiplicar_por_dos(0))
print(multiplicar_por_dos(-3))

8
14
0
-6

In [5]:
def sumar_todos(*args):
    return sum(args)

print(sumar_todos(1, 2, 3, 4))
print(sumar_todos(5, 10, 15))
print(sumar_todos(0, -1, 1))
print(sumar_todos())

10
30
0
0

In [6]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numeros_pares = list(filter(lambda x: x % 2 == 0, numeros))

print(numeros_pares)

[2, 4, 6, 8, 10]

In [7]:
def mostrar_info_persona(**kwargs):
    info = ", ".join(f"{clave.capitalize()}: {valor}" for clave, valor in kwargs.items())
    print(info)


mostrar_info_persona(nombre="Juan", edad=25, ciudad="Madrid")


mostrar_info_persona(nombre="Ana", edad=30, ciudad="Buenos Aires")

Nombre: Juan, Edad: 25, Ciudad: Madrid
Nombre: Ana, Edad: 30, Ciudad: Buenos Aires

In [8]:
def multiplicar_lista(lista, multiplicador):
    return [x * multiplicador for x in lista]


numeros = [1, 2, 3, 4, 5]
print(multiplicar_lista(numeros, 2))

[2, 4, 6, 8, 10]

In [ ]:
def incrementar_valor(numero):
    incrementado = numero + 1
    print("Valor original:", numero)
    return incrementado

# Prueba la funci√≥n
print(incrementar_valor(5))

In [9]:
def obtener_mayor_y_menor(lista):
    mayor = max(lista)
    menor = min(lista)
    return mayor, menor

numeros = [3, 1, 4, 1, 5, 9, 2, 6, 5]
print(obtener_mayor_y_menor(numeros))

(9, 1)

In [10]:
def es_primo(numero):
    if numero < 2:
        return False
    for i in range(2, int(numero ** 0.5) + 1):
        if numero % i == 0:
            return False
    return True

def primeros_n_primos(n):
    primos = []
    numero = 2
    while len(primos) < n:
        if es_primo(numero):
            primos.append(numero)
        numero += 1
    return primos

print(primeros_n_primos(5))

[2, 3, 5, 7, 11]

In [11]:
temperaturas_celsius = [0, 20, 30, 40]

temperaturas_fahrenheit = list(map(lambda C: (9/5) * C + 32, temperaturas_celsius))

print(temperaturas_fahrenheit)

[32.0, 68.0, 86.0, 104.0]